version: "3.9"
services:
  postgres:
    image: postgres
    restart: always
    volumes: 
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER:-chatter}
      POSTGRES_DB: ${POSTGRES_DB:-chatapp}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
  redis:
    image: redis:6.2.11-alpine
    restart: always
    volumes:
      - redis:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"
  cli :
    links:
      - postgres:${POSTGRES_HOST:-pg.tchatche.rs}
    depends_on:
      - postgres
    build: 
      context: ./ 
      dockerfile: Dockerfile_tct
volumes:
  db:
  redis:
