@tailwind base;
@tailwind components;
@tailwind utilities;

.break-when-needed {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@layer components {
    .chat-component {
        @apply flex w-full space-x-3 px-3;
    }

    .reversed-chat-component {
        @apply flex-row-reverse space-x-reverse ml-auto;
    }

    .message-common {
        @apply antialiased relative p-3 text-sm mb-2 break-when-needed max-w-xs;
    }

    .message-user {
        @apply antialiased message-common bg-blue-600 text-white rounded-l-lg rounded-br-lg;
    }

    .message-other {
        @apply antialiased bg-gray-300 message-common rounded-r-lg rounded-bl-lg;
    }
    
    .common-button {
        @apply antialiased bg-zinc-800 dark:bg-gray-500 enabled:hover:bg-zinc-900 dark:enabled:hover:bg-gray-600 focus:outline-none text-white font-bold py-2 px-4 rounded;
    }

    .common-input {
        @apply antialiased bg-gray-200 dark:bg-zinc-800 appearance-none border-2 border-gray-200 dark:border-zinc-700 rounded w-full py-2 px-4 text-gray-700 dark:text-gray-200 leading-tight focus:outline-none focus:bg-white dark:focus:bg-zinc-800 focus:border-zinc-500 focus:invalid:border-red-500 visited:invalid:border-red-500;
    }

    .common-form-section {
        @apply antialiased md:flex md:items-center mb-6;
    }

    .common-form-label {
        @apply antialiased block text-gray-500 dark:text-gray-200 font-bold md:text-right mb-1 md:mb-0 pr-4;
    }

    .default-pop-up {
        @apply z-50 absolute right-3 bottom-5 md:bottom-10 md:right-10;
    }

    .default-pop-up-icon {
        @apply inline-flex flex-shrink-0 justify-center items-center w-8 h-8 rounded-lg;
    }
}