@tailwind base;
@tailwind components;
@tailwind utilities;

.break-when-needed {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


@layer components {
    .chat-component {
        @apply flex w-full space-x-3 px-3;
    }

    .reversed-chat-component {
        @apply flex-row-reverse space-x-reverse ml-auto;
    }

    .message-common {
        @apply relative p-3 text-sm mb-2 break-when-needed max-w-xs;
    }

    .message-user {
        @apply message-common bg-blue-600 text-white rounded-l-lg rounded-br-lg;
    }

    .message-other {
        @apply bg-gray-300 message-common rounded-r-lg rounded-bl-lg;
    }
    
}